.container-view {
    display: flex;
    flex-direction: column;
    margin:200px  10%;    
    width: 75%;
    margin: 100px;
}

.container-view .back-btn a button{
    margin-left: -50px;
    width:225px;
    margin-bottom: 50px;
    height:40px;
    border-radius:5px;
    border:none;
    background: transparent;
    color: rgb(0, 0, 0);
    font-size: 30px;
    line-height: 28px;
    font-family: Roboto;
    cursor: pointer;
}

.container-view .back-btn a button i{
    font-size: 25px;
}

.container-view button{
    width:300px;
    height:40px;
    border-radius:5px;
    border:none;
    background: #B22CA7;
    color: #fff;
    font-size: 22px;
    line-height: 28px;
    font-family: Roboto;
    cursor: pointer;
    margin-right: 200px;
}

.container-view a button{
    width:300px;
    height:40px;
    border-radius:5px;
    border:none;
    background: #B22CA7;
    color: #fff;
    font-size: 22px;
    line-height: 28px;
    font-family: Roboto;
    cursor: pointer;
    margin-left: 0;
}

.container-view .buttons{
    display: flex;
    justify-content: space-between;
    margin-top:50px;
}


